body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;  
}

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#MSI{
    background-color: transparent;
    display: block;
    margin-left: -50px;
    margin-right: 30px;
    width: 120%;
}

#products{
    border-color: transparent;
}

#pictureHeader{
    background-color: transparent;
    display: block;
    margin-left: -10px;
    margin-right: 30px;
    width: 101%;
}

#page
{
    
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid rgb(119, 75, 77);
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff4d4d;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


#header { background-color: #ff4d4d; color: White; text-align: center;}

#content { background-color: White;  padding: 5px;}

#content h1 {color: #ff4d4d;}
#content h2 {color: #ff4d4d;}
#content p {color: #ff4d4d;}
#content label {color: #ff4d4d;}

#footer { background-color: #ff4d4d; color: White; text-align: center}

form {
    margin: .5em 0 2em;
}
form label {
    width: 6.5em;
    text-align: right;
    padding-right: .5em;
    padding-bottom: .5em;
    float: left;
}
form input {
    float: left;
}
form input[text] {
    width: 15em;
}
form select {
    float: left;
}
form br {
    clear: left;
}